:root {
  /* == COLOR PALETTE == */

  /* Blue */
  --primary: hsl(216, 100%, 49%);

  /* Grays */
  --black: hsl(0deg, 0%, 0%);
  --white: hsl(0deg, 0%, 100%);
  --background-color: hsl(0, 0%, 95%);

  /* == TYPOGRAPHY == */
  --base-font-size: 1.125em;

  --font-small: 0.8rem;
  --font-normal: 1rem;
  --font-medium: 1.25rem;
  --font-large: 1.5rem;
  --font-very-large: 2rem;

  /* == SPACING == */
  --space-base: 8px;
  --space-XS: 16px;
  --space-S: 24px;
  --space-M: 32px;
  --space-L: 48px;
  --space-XL: 64px;
  --space-XXL: 96px;
  --space-XXXl: 128px;
}

* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: var(--base-font-size);
}

/* --- GENERAL STYLES --- */

h1,
h2 {
  color: var(--black);
  font-weight: 700;
}

/* --- HEADER --- */

/* --- MAIN --- */

/* --- FOOTER --- */

/* ====================== */
/* === TABLET STYLES === */
/* ====================== */

/* ====================== */
/* === DESKTOP STYLES === */
/* ====================== */
