:root {
    /* == COLOR PALETTE == */

    /* Blue */
    --primary: hsl(216, 100%, 49%);
    --secondary: hsl(214, 94%, 93%);

    /* Grays */
    --black: hsl(0deg, 0%, 0%);
    --white: hsl(0deg, 0%, 100%);
    --grey-background: hsl(0, 0%, 95%);
    --grey-light-border: hsl(0, 0%, 85%);

    /* == TYPOGRAPHY == */
    --font-size-base: 1.125em;

    --font-small: 0.8rem;
    --font-normal: 1rem;
    --font-medium: 1.25rem;
    --font-large: 1.5rem;
    --font-very-large: 2rem;

    /* == FONT WEIGHT == */
    --font-weight-normal: 700;
    --font-weight-bold: 900;

    /* == FONT-FAMILY == */
    --font-family-base: "Raleway", sans-serif;

    /* == SPACING == */
    --space-base: 8px;
    --space-XS: 16px;
    --space-S: 24px;
    --space-M: 32px;
    --space-L: 48px;
    --space-XL: 64px;
    --space-XXL: 96px;
    --space-XXXl: 128px;

    /* SIZES (HEIGHT, WIDTH) */
    --size-XXS: 15px;
    --size-XS: 20px;
    --size-S: 40px;

    /* == BORDERS == */
    /* --border-gray-light: 2px solid var(--grey-light-border); */

    /* == RADIUS == */

    --radius-cercle: 50%;
    --radius-normal: 5px;
    --radius-very-large: 30px;
}

* {
    box-sizing: border-box;
    font-family: var(--font-family-base);
}

html,
body {
    height: 100%;
}

html {
    font-size: var(--font-size-base);
}

/* --- GENERAL STYLES --- */

h1,
h2 {
    color: var(--black);
    font-weight: var(--font-weight-bold);
}

.page-wrapper {
    min-height: 100%;
}

/* ====================== */
/* === MOBILE STYLES === */
/* ====================== */

/* === HEADER === */

.header__mainHeader {
    display: flex;
    justify-content: space-between;
    position: relative;
    max-width: min(100%, 1200px);
    /* max-width: min(100%, calc(1200px + 32px * 2)); */
}

.header__navbar .navbar__list {
    display: flex;
}

/* === MAIN === */

/* Search section */

/* Filters section */
.filters__Wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.filter__label {
    width: max-content;
    display: flex;
    align-items: center;
    border: 2px solid var(--grey-light-border);
    border-radius: var(--radius-very-large);
    height: var(--size-S);
    margin-inline-end: var(--space-base);
    margin-block: var(--space-base);
}

.filter__label .filter__icon {
    border-radius: var(--radius-cercle);
    width: var(--size-S);
    height: var(--size-S);
    color: var(--primary);
    background-color: var(--secondary);
    display: grid;
    place-items: center; /* shorthand for justify-items + align-items */
    margin-inline-start: -2px; /* covering the thickness of the gray border */
}

.filter__label .filter__keyword {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-small);
    padding: 8px 16px;
}

/* Nb results */

.filtersSection_nbResults {
    display: flex;
    justify-content: flex-start;
}

.filtersSection_nbResults .info__icon {
    border: 1px solid var(--grey-light-border);
    border-radius: var(--radius-cercle);
    width: var(--size-S);
    height: var(--size-S);
    display: grid;
    place-items: center;
    font-size: var(--font-small);
}

.filtersSection_nbResults .nb__results {
    font-size: var(--font-small);
}

/* Most Popular Section */

.popularList__heading__Wrapper {
    display: flex;
}

/* --- FOOTER --- */

/* ====================== */
/* === TABLET STYLES === */
/* ====================== */

/* ====================== */
/* === DESKTOP STYLES === */
/* ====================== */
