:root {
    /*  == PAGE WRAPPER == */

    --maxWidthWrapper: var(--space-S);
    --maxWidth: min(100%, calc(1200px + 32px * 2));

    /* == COLOR PALETTE == */

    /* Blue */
    --primary: hsl(216, 100%, 49%);
    --secondary: hsl(214, 94%, 93%);

    /* Grays */
    --black: hsl(0deg, 0%, 0%);
    --white: hsl(0deg, 0%, 100%);
    --grey-background: hsl(0, 0%, 95%);
    --grey-light-border: hsl(0, 0%, 85%);

    /* == TYPOGRAPHY == */
    --font-size-base: 1em;

    --font-small: 0.9rem;
    --font-normal: 1rem;
    --font-medium: 1.1rem;
    --font-large: 1.4rem;
    --font-very-large: 2rem;

    /* == FONT WEIGHT == */
    --font-weight-normal: 700;
    --font-weight-bold: 900;

    /* == FONT-FAMILY == */
    --font-family-base: "Raleway", sans-serif;

    /* == SPACING == */
    --space-base: 8px;
    --space-XS: 16px;
    --space-S: 24px;
    --space-M: 32px;
    --space-L: 40px;
    --space-XL: 48px;
    --space-XXL: 64px;
    --space-XXXL: 96px;
    --space-4XL: 128px;

    /* SIZES (HEIGHT, WIDTH) */
    --size-XXS: 8px;
    --size-XS: 16px;
    --size-S: 24px;
    --size-M: 32px;
    --size-L: 40px;
    --size-XL: 48px;

    /* == BORDERS == */
    /* --border-gray-light: 2px solid var(--grey-light-border); */

    /* == RADIUS == */

    --radius-cercle: 50%;
    --radius-S: 5px;
    --radius-M: 16px;
    --radius-L: 20px;
    --radius-XL: 30px;
}

* {
    box-sizing: border-box;
    color: var(--black);
}

html,
body {
    height: 100%;
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
    line-height: 1.2;
}

a {
    text-decoration: none;
}

/* --- GENERAL STYLES --- */

.page-wrapper {
    position: relative;
    width: var(--maxWidth);
    margin-inline: auto;
}

h2,
h3 {
    font-weight: var(--font-weight-bold);
}

h2 {
    font-size: var(--font-large);
}

h3 {
    font-size: var(--font-medium);
}

img {
    width: 100%;
}

/* ====================== */
/* === MOBILE STYLES === */
/* ====================== */

/* === HEADER === */

header {
    font-size: var(--font-small);
    margin-block-end: var(--space-M);
}

.header__mainHeader {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-inline: var(--space-S);
    padding-block: var(--space-S);
    max-width: min(100%, 1200px);
}

.mainHeader__logo {
    display: grid;
    place-items: center;
}

.mainHeader__signUp {
    display: grid;
    place-items: center;
    font-weight: var(--font-weight-bold);
}

.mainHeader__signUp_link {
    color: var(--primary);
    text-decoration: none;
}

/* .header__navbar {
    margin-block-start: var(--space-base);
} */

.navbar__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
}

.navbar__list_item a {
    color: black;
    text-decoration: none;
    text-align: center;
    padding-block-end: calc(var(--space-base) * 1.2);
    display: inline-block;
    width: 100%;
    border-bottom: 2px solid var(--grey-background);
}

.navbar__list_item a.--active {
    color: var(--primary);
    border-bottom: 2px solid var(--primary);
}

/* === MAIN === */

/* main {
    padding-inline: var(--maxWidthWrapper);
} */

/* === SEARCH GRID === */

/* Search section */

.mainSearchGrid__wrapper {
    display: grid;
    grid-template-areas:
        "search-section"
        "filters-section"
        "nb-results";
    gap: var(--space-M);
    padding-inline: var(--maxWidthWrapper);
}

.mainSearchGrid__searchSection {
    grid-area: search-section;

    display: grid;
}

.searchSection__heading {
    margin-block-end: var(--space-XS);
}

.searchSection_description {
    margin-block-end: 32px;
}

.searchBar {
    display: grid;
    grid-template-columns: var(--size-XL) 1fr var(--size-XL);
    height: var(--size-XL);
}

.searchBar i {
    height: var(--size-XL);
    display: grid;
    place-items: center;
    font-size: var(--font-medium);
}

.searchBar i.fa-map-marker-alt {
    height: calc(var(--size-XL) + 2px);
    background-color: var(--grey-background);
    border-radius: var(--radius-M) 0 0 var(--radius-M);
}

.searchBar_button {
    width: var(--size-XL);
    background-color: var(--primary);
    border: none;
    border-radius: var(--radius-M);
    color: var(--white);
}

.searchBar input {
    border: 1px solid var(--grey-background);
    margin-inline-end: calc((var(--size-M) + 2px) * -1);
    border-radius: 0 var(--radius-M) var(--radius-M) 0;
    font-size: var(--font-medium);
    font-weight: var(--font-weight-bold);
    padding-inline: var(--space-base);
}

/* Filters section */

.mainSearchGrid__filtersSection {
    grid-area: filters-section;
}

.filters__heading {
    margin-block-end: var(--space-XS);
}

.filters__Wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: calc(var(--space-base) * 1.5);
}

.filter__label {
    width: max-content;
    display: flex;
    align-items: center;
    border: 2px solid var(--grey-light-border);
    border-radius: var(--radius-XL);
    height: var(--size-XL);
}

.filter__label .filter__icon {
    border-radius: var(--radius-cercle);
    width: var(--size-XL);
    height: var(--size-XL);
    color: var(--primary);
    background-color: var(--secondary);
    display: grid;
    place-items: center;
    /* shorthand for justify-items + align-items */
    margin-inline-start: -2px;
    /* covering the thickness of the gray border */
    font-size: var(--font-medium);
}

.filter__label .filter__keyword {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-normal);
    padding: calc(var(--space-XS) * 0.75);
}

/* Nb results */

.mainSearchGrid_nbResults {
    grid-area: nb-results;

    display: flex;
    justify-content: flex-start;
    gap: 8px;
    margin-block-end: var(--space-M);
}

.mainSearchGrid_nbResults .info__icon {
    border: 1px solid var(--grey-light-border);
    border-radius: var(--radius-cercle);
    width: var(--size-S);
    height: var(--size-S);
    display: grid;
    place-items: center;
    font-size: calc(var(--font-small) * 0.8);
    color: var(--primary);
}

.mainSearchGrid_nbResults .nb__results {
    font-size: var(--font-small);
}

/* === RESULTS GRID === */

.mainResultsGrid__wrapper {
    display: grid;
    grid-template-areas:
        "mostPopular-section"
        "results-section";
    gap: var(--space-M);
}

/* Most Popular Section */

.mainResultsGrid__mostPopularSection {
    grid-area: mostPopular-section;
    background-color: var(--grey-background);
    /* grey background of the most popular section */
}

.mostPopularSection__popularList {
    padding-inline: var(--maxWidthWrapper);
    padding-block: var(--space-L);
    display: flex;
    flex-direction: column;
    gap: var(--space-XS);
}

.popularList__heading__Wrapper {
    display: flex;
    justify-content: space-between;
    font-size: var(--font-large);
}

.popularList__heading {
    margin-block-end: var(--space-base);
}

.popularList__cards {
    display: flex;
    flex-direction: column;
    gap: var(--space-XS);
}

.popularList__cardWrapper {
    display: grid;
    grid-template-areas:
        "image heading"
        "image price"
        "image rating";
    grid-template-columns: 120px 1fr;
    grid-template-rows: 45px 30px 1fr;
    background-color: var(--white);
    border: 5px solid var(--white);
    border-radius: var(--radius-L);
    box-shadow: 1px 1px 10px 2px var(--grey-light-border);
}

.popularList__cardImg {
    display: block;
    grid-area: image;
    height: 128px;
    object-fit: cover;
    border-start-start-radius: var(--radius-L);
    border-end-start-radius: var(--radius-L);
}

.popularList__cardHeading {
    grid-area: heading;
    font-size: var(--font-normal);
}

.popularList__cardPrice {
    grid-area: price;
    font-size: var(--font-small);
}

.popularList__cardRating {
    grid-area: rating;
    align-self: end;
    font-size: calc(var(--font-normal) * 0.75);
    padding-block-end: calc(var(--space-base) * 1.5);
    letter-spacing: -1px;
}

.popularList__cardRating i {
    color: var(--grey-light-border);
}

.popularList__cardRating i:not(.lastRate) {
    color: var(--primary);
}

.popularList__cardHeading,
.popularList__cardPrice,
.popularList__cardRating {
    padding-inline: var(--space-S);
    padding-block-start: calc(var(--space-base) * 1.5);
}

/* Results section */

.mainResultsGrid__resultsSection {
    grid-area: results-section;
}

/* --- FOOTER --- */

/* ====================== */
/* === TABLET STYLES === */
/* ====================== */

/* ====================== */
/* === DESKTOP STYLES === */
/* ====================== */