:root {
    /*  ====== PAGE WRAPPER ====== */

    --widthWrapper: var(--space-S);
    /* max-width 1500px */
    --maxWidth: 93.75rem;

    /* ====== COLOR PALETTE ====== */

    /* Blue */
    --primary: hsl(216, 100%, 49%);
    --primary-icon: hsl(216, 100%, 60%);
    --primary-lighter: hsl(216, 100%, 72%);
    --secondary: hsl(214, 94%, 93%);

    /* Grays */
    --black: hsl(0deg, 0%, 0%);
    --white: hsl(0deg, 0%, 100%);
    --grey-background: hsl(0, 0%, 95%);
    --grey-light-border: hsl(0, 0%, 85%);

    /* Gradients */
    --gradient-primary: linear-gradient(135deg, var(--primary-lighter) 28%, var(--primary) 100%);

    /* ====== TYPOGRAPHY ====== */
    --font-size-base: 1em;

    --font-small: 0.9rem;
    --font-normal: 1rem;
    --font-medium: 1.1rem;
    --font-large: 1.4rem;

    /* ====== FONT WEIGHT ====== */
    --font-weight-normal: 700;
    --font-weight-bold: 900;

    /* ====== FONT-FAMILY ====== */
    --font-family-base: "Raleway", sans-serif;

    /* ====== SPACING ====== */
    --space-base: 8px;
    --space-XS: 16px;
    --space-S: 24px;
    --space-M: 32px;
    --space-L: 40px;
    --space-XL: 48px;

    /* ====== SIZES (HEIGHT, WIDTH) ====== */
    --size-XXS: 8px;
    --size-XS: 16px;
    --size-S: 24px;
    --size-M: 32px;
    --size-L: 40px;
    --size-XL: 48px;


    /* ====== RADIUS ====== */

    --radius-cercle: 50%;
    --radius-S: 5px;
    --radius-M: 16px;
    --radius-L: 18px;
    --radius-XL: 30px;
}

* {
    box-sizing: border-box;
    color: var(--black);
}

/* =============================================================================== */
/* ========================= */
/* ===== GENERAL STYLES ===== */
/* ========================= */
html,
body {
    height: 100%;
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
    line-height: 1.2;
}

/* disable the instant scrolling for users you have configured
their system/browser to reduce animations and movements,
due to vestibular system disorders  */
html {
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

a {
    text-decoration: none;
}

.page-wrapper {
    position: relative;
    max-width: var(--maxWidth);
    margin-inline: auto;
}

h2,
h3 {
    font-weight: var(--font-weight-bold);
}

h2 {
    font-size: var(--font-large);
}

h3 {
    font-size: var(--font-medium);
}

img {
    width: 100%;
}

/* =============================================================================== */
/* ========================= */
/* ===== MOBILE STYLES ===== */
/* ========================= */

/* ====================== */
/* ======= HEADER ======= */

header {
    font-size: var(--font-small);
    margin-block-end: var(--space-M);
}

.header__mainHeader {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-inline: var(--space-S);
    padding-block: var(--space-S);
}

.mainHeader__logo {
    display: grid;
    place-items: center;
}

.mainheader__mainNavbar__wrapper {
    display: none;
}

.mainHeader__signUp {
    display: grid;
    place-items: center;
    font-weight: var(--font-weight-bold);
}

.mainHeader__signUp_link {
    color: var(--primary);
    text-decoration: none;
}

.navbar__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
}

.navbar__list_item a {
    color: black;
    text-decoration: none;
    text-align: center;
    padding-block-end: calc(var(--space-base) * 1.2);
    display: inline-block;
    width: 100%;
    border-bottom: 2px solid var(--grey-background);
}

.navbar__list_item a.active {
    color: var(--primary);
    border-bottom: 2px solid var(--primary);
}

/* ================================== */
/* ============== MAIN ============== */


/* ========= SEARCH GRID ========= */

/* --- Search section --- */

.mainSearchGrid {
    display: grid;
    grid-template-areas:
        "search-section"
        "filters-section"
        "nb-results";
    gap: var(--space-M);
    padding-inline: var(--widthWrapper);
}

.mainSearchGrid__searchSection {
    grid-area: search-section;

    display: grid;
}

.searchSection__heading {
    margin-block-end: var(--space-XS);
}

.searchSection_description {
    margin-block-end: 32px;
}

/* Searchbar */

.searchSection__searchBar {
    width: min(100%, 370px);
}

.searchBar {
    display: grid;
    grid-template-columns: var(--size-XL) minmax(0, 1fr) var(--size-XL);
    height: var(--size-XL);
}

.searchBar i {
    height: var(--size-XL);
    display: grid;
    place-items: center;
    font-size: var(--font-medium);
}

.searchBar i.fa-map-marker-alt {
    height: calc(var(--size-XL) + 2px);
    background-color: var(--grey-background);
    border-radius: var(--radius-M) 0 0 var(--radius-M);
}

.searchBar_button {
    width: var(--size-XL);
    background-color: var(--primary);
    border: none;
    border-radius: var(--radius-M);
}

.searchBar_button i {
    color: var(--white);
}

.searchBar input {
    border: 1px solid var(--grey-background);
    margin-inline-end: -38px;
    border-radius: 0 var(--radius-M) var(--radius-M) 0;
    font-size: var(--font-medium);
    font-weight: var(--font-weight-bold);
    padding-inline: var(--space-XS);
}

/* --- Filters section --- */

.mainSearchGrid__filtersSection {
    grid-area: filters-section;
}

.filters__heading {
    margin-block-end: var(--space-XS);
}

.filters__Wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: calc(var(--space-base) * 1.5);
}

.filter__label {
    width: max-content;
    display: flex;
    align-items: center;
    border: 2px solid var(--grey-light-border);
    border-radius: var(--radius-XL);
    height: var(--size-XL);
    background: transparent;

    transition: transform 250ms, background-color 50ms;
}

/* Animation on filters */

.transition__wrapper:hover .filter__label {
    cursor: pointer;

    background: var(--gradient-primary);
    border: var(--primary-lighter);
    transform: scale(1.03);
}

.transition__wrapper:hover .filter__keyword {
    color: var(--white);
}

.transition__wrapper:hover .filter__icon {
    background: var(--primary-icon);
}

.transition__wrapper:hover .filter__icon:first-child {
    color: var(--secondary);
}
/* End animation on filters */

.button__searchText {
    display: none;
}

.filter__label .filter__icon {
    border-radius: var(--radius-cercle);
    width: var(--size-XL);
    height: var(--size-XL);
    color: var(--primary);
    background-color: var(--secondary);
    display: grid;
    /* shorthand for justify-items + align-items */
    place-items: center;
    /* covering the thickness of the gray border */
    margin-inline-start: -2px;
    font-size: var(--font-medium);
}

.filter__label .filter__keyword {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-normal);
    padding: calc(var(--space-XS) * 0.75);
}

/* --- Nb results section--- */

.mainSearchGrid_nbResults {
    grid-area: nb-results;

    display: flex;
    justify-content: flex-start;
    gap: 8px;
    margin-block-end: var(--space-M);
}

.mainSearchGrid_nbResults .info__icon {
    border: 1px solid var(--grey-light-border);
    border-radius: var(--radius-cercle);
    width: var(--size-S);
    height: var(--size-S);
    display: grid;
    place-items: center;
    font-size: calc(var(--font-small) * 0.8);
    color: var(--primary);
}

.mainSearchGrid_nbResults .nb__results {
    font-size: var(--font-small);
}

/* ============= RESULTS GRID ============= */

.mainResultsGrid__wrapper {
    display: grid;
    grid-template-areas:
        "mostPopular-section"
        "results-section";
}

/* --- Most Popular Section --- */

.mainResultsGrid__mostPopularSection {
    grid-area: mostPopular-section;
    /* background of the entire section */
    background-color: var(--grey-background);
}

.mostPopularSection__popularList {
    display: flex;
    flex-direction: column;
    gap: var(--space-XS);
    padding-inline: var(--widthWrapper);
    padding-block: var(--space-L);
}

.popularList__heading__Wrapper {
    display: flex;
    justify-content: space-between;
    font-size: var(--font-large);
}

.popularList__heading {
    margin-block-end: var(--space-base);
}

.popularList__cards {
    display: flex;
    flex-direction: column;
    gap: var(--space-XS);
}

.popularList__cardWrapper {
    display: grid;
    grid-template-areas:
        'image heading'
        'image price'
        'image rating';
    grid-template-columns: 120px 1fr;
    grid-template-rows: 45px 30px 1fr;
    background-color: var(--white);
    border: 5px solid var(--white);
    border-radius: var(--radius-L);
    box-shadow: 1px 1px 10px 2px var(--grey-light-border);
}

.popularList__cardImg {
    display: block;
    grid-area: image;
    height: 128px;
    object-fit: cover;
    border-start-start-radius: var(--radius-L);
    border-end-start-radius: var(--radius-L);
}

.popularList__cardHeading {
    grid-area: heading;
    font-size: var(--font-normal);
}

.popularList__cardPrice {
    grid-area: price;
    font-size: var(--font-small);
}

.popularList__cardRating {
    grid-area: rating;
    align-self: end;
    font-size: calc(var(--font-normal) * 0.75);
    padding-block-end: calc(var(--space-base) * 1.5);
    letter-spacing: -1px;
}

.popularList__cardRating i {
    color: var(--grey-light-border);
}

.popularList__cardRating i:not(.noStar) {
    color: var(--primary);
}

.popularList__cardHeading,
.popularList__cardPrice,
.popularList__cardRating {
    padding-inline: var(--space-S);
    padding-block-start: calc(var(--space-base) * 1.5);
}

/* --- Results section --- */

.mainResultsGrid__resultsSection {
    grid-area: results-section;
}

.resultsSection__resultsList {
    padding-inline: var(--widthWrapper);
    padding-block: var(--space-L);
}

.resultsList__heading {
    margin-block-end: var(--space-S);
}

.resultsList__cards {
    display: grid;
    gap: var(--space-XS);
    /* fluid grid : min-width = 273px or 100% / max-width = 1fr */
    grid-template-columns:
        repeat(auto-fill,
            minmax(min(273px, 100%), 1fr));
}

.resultsList__cardWrapper {
    display: grid;
    grid-template-areas:
        'image'
        'heading'
        'price'
        'rating';
    grid-template-columns: 1fr;
    grid-template-rows: 120px 24px 24px 20px;
    background-color: var(--white);
    border: 5px solid var(--white);
    border-radius: var(--radius-L);
    box-shadow: 1px 1px 10px 2px var(--grey-light-border);
}

.resultsList__cardImg {
    display: block;
    grid-area: image;
    height: 110px;
    object-fit: cover;
    border-start-start-radius: var(--radius-L);
    border-start-end-radius: var(--radius-L);
}

.resultsList__cardHeading {
    grid-area: heading;
    font-size: var(--font-normal);
}

.resultsList__cardPrice {
    grid-area: price;
    font-size: var(--font-small);
}

.resultsList__cardRating {
    grid-area: rating;
    font-size: calc(var(--font-normal) * 0.75);
    padding-block-end: calc(var(--space-base) * 1.5);
    letter-spacing: -1px;
}

.resultsList__cardRating i {
    color: var(--grey-light-border);
}

.resultsList__cardRating i:not(.noStar) {
    color: var(--primary);
}

.resultsList__cardHeading,
.resultsList__cardPrice,
.resultsList__cardRating {
    padding-inline: var(--space-XS);
}

.displayMore {
    font-size: var(--font-medium);
    font-weight: var(--font-weight-bold);
    margin-block-start: var(--space-L);
}

/* =========== ACTIVITIES GRID =========== */

.activitiesSection {
    padding-inline: var(--widthWrapper);
    padding-block-end: var(--space-L);
}

.activitiesSection__heading {
    margin-block-end: var(--space-S);
}

.activitiesSection__activitiesList {
    display: grid;
    gap: 20px;
    /* fluid grid : min-width = 270px or 100% / max-width = 1fr */
    grid-template-columns:
        repeat(auto-fill,
            minmax(min(270px, 100%), 1fr));
}

.activityItem__cardWrapper {
    display: grid;
    grid-template-areas:
        'image'
        'heading';
    grid-template-columns: 1fr;
    grid-template-rows: 144px 44px;
    background-color: var(--white);
    border-radius: var(--radius-L);
    box-shadow: 1px 1px 8px 1px var(--grey-light-border);
}

.activityItem__cardImg {
    grid-area: image;
    height: 134px;
    object-fit: cover;
    object-position: 50% 40%;
    border-start-start-radius: var(--radius-L);
    border-start-end-radius: var(--radius-L);
}

.activityItem__cardHeading {
    grid-area: heading;
    font-size: var(--font-normal);
    padding-inline: var(--space-XS);
    align-self: center;
}

/* ============== FOOTER ============== */

footer {
    padding-block: var(--space-L);
    background: var(--grey-background);
}

footer .footer__widthWrapper {
    padding-inline: var(--widthWrapper);
    display: flex;
    flex-direction: column;
    gap: var(--space-M);
}

.footer__navHeading {
    margin-block-end: var(--space-XS);
}

.footer__navList {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* ================================================================================== */
/* -****** styles for mobile under 370px ******- */
@media (max-width: 23.12rem) {

    /* ====================== */
    /* ======== MAIN ======== */

    /* ==== RESULTS GRID ==== */

    /* --- Most popular section --- */
    .popularList__cardHeading {
        font-size: var(--font-small);
    }
}

/* =================================================================================== */

/* ============================= */
/* ======= TABLET STYLES ======= */
/* ============================= */

/* -****** 500px and above ******- */
@media(min-width: 31.25rem) {

    /* === FOOTER === */
    footer .footer__widthWrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

/* -****** media between 500px and 799.8px ******- */
@media(min-width: 31.25rem) and (max-width: 49.99rem) {

    /* ================ */
    /* ===== MAIN ===== */

    /* Most popular section */

    .popularList__cardWrapper {
        grid-template-columns: 200px 1fr;
    }

    .popularList__cardHeading,
    .popularList__cardPrice,
    .popularList__cardRating {
        padding-inline: var(--space-L);
    }
}

/* -****** media between 800px and 1099.8px ******- */
@media(min-width: 50rem) and (max-width: 68.74rem) {
    
    /* ================ */
    /* ===== MAIN ===== */
    
    /* --- Most popular section --- */

    .popularList__cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .popularList__cardWrapper {
        grid-template-columns: 160px 1fr;
    }
}

/* -****** 900px and above ******- */
@media(min-width: 56.25rem) {
    
    /* ================ */
    /* ==== FOOTER ==== */

    footer .footer__widthWrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}


/* =================================================================================== */
/* ====================== */
/* === DESKTOP STYLES === */
/* ====================== */

/* -****** media 1100px and above ******- */
@media(min-width: 68.75rem) {

    /* ================ */
    /* ==== HEADER ==== */

    /* make the mobile and tablet navbar disappear */
    .header__navbar,
    .mainHeader__signUp {
        display: none;
    }

    /* make desktop navbar visible */
    .mainheader__mainNavbar__wrapper {
        justify-self: end;
        align-self: end;

        display: grid;
        place-items: center;
    }

    .mainHeader__logo {
        justify-self: start;
    }

    /* To align logo with navbar vertically */
    .mainHeader__logo_image {
        margin-block-end: -24px;
    }

    .header__mainHeader {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-block: 0;
        /* increase the margin of the header wrapper */
        margin-inline: var(--space-M);
    }

    .mainNavbar__list {
        display: flex;
        justify-content: space-between;
    }

    .mainNavbar__list_item a {
        display: inline-block;
        padding-block-start: var(--space-L);
    }

    .mainNavbar__list_item a {
        padding-inline: var(--space-S);
    }

    .mainNavbar__list_item a.active {
        border-top: 2px solid var(--primary);
        /* 2px less for the thickness of the blue border */
        padding-block-start: calc(var(--space-L) - 2px);
        color: var(--primary);
    }

    /* third item of the navbar for signing up */
    .mainNavbar__list_item.signUp {
        font-weight: var(--font-weight-bold);
    }

    .mainNavbar__list_item .signUpLink {
        color: var(--primary);
        padding-inline-end: 0;
    }

    /* ========================== */
    /* ========== MAIN ========== */

    main,
    footer {
        --widthWrapper: var(--space-L);
    }

    /* ========== SEARCH GRID ========== */

    /* --- Search section --- */

    .searchSection__searchBar {
        width: min(100%, 330px);
    }

    /* Hide the icon "search" of the button */
    .searchBar_button .button__searchIcon {
        display: none;
    }

    .button__searchText {
        display: inline-block;
        color: var(--white);
        font-size: var(--font-medium);
        font-weight: var(--font-weight-bold);
    }

    .searchBar_button {
        width: fit-content;
        border-start-start-radius: 0;
        border-end-start-radius: 0;
        padding-inline: var(--space-XS);
    }

    /* --- filters section --- */

    .filtersSection__filters {
        display: flex;
    }

    .filters__heading {
        display: grid;
        align-items: center;
        margin-block-end: 0;
        margin-inline-end: var(--space-M);
    }

    /* =========== RESULTS GRID =========== */

    .mainResultsGrid__wrapper {
        display: grid;
        grid-template-areas:
            'results-section mostPopular-section';
        grid-template-columns: 1.8fr 1.2fr;
        gap: var(--space-S);
        padding-inline: var(--space-L);
    }

    /* --- results section --- */

    .mainResultsGrid__resultsSection {
        /* background of the entire section */
        background-color: var(--grey-background);
        border-radius: var(--radius-L);
    }

    .resultsList__cards {
        display: grid;
        gap: var(--space-XS);
        /* fluid grid : min-width = 230px or 100% / max-width = 1fr */
        grid-template-columns:
            repeat(auto-fill,
                minmax(min(230px, 100%), 1fr));
    }

    .mainResultsGrid__mostPopularSection {
        border-radius: var(--radius-L);
    }

    .resultsList__cards {
        gap: var(--space-S);
    }

    /* --- Popular list section --- */

    h3.popularList__cardHeading {
        font-size: var(--font-small);
    }

    .popularList__cardPrice {
        font-size: calc(var(--font-small) * 0.9);
        padding-block-start: var(--space-base);
    }

    /* --- Activities section --- */

    .activitiesSection {
        padding-block-start: var(--space-XL)
    }

    .activitiesSection__activitiesList {
        gap: var(--space-M);
        row-gap: 0;
        /* fluid grid : min-width = 230px or 100% / max-width = 1fr */
        grid-template-columns:
            repeat(auto-fill,
                minmax(min(230px, 100%), 1fr));
        grid-template-rows: 185px 32px 32px 155px;
    }

    .activityItem__cardWrapper {
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 44px;
    }

    .activityItem__cardHeading {
        padding-block: var(--space-base);
    }

    .activitiesList__activityItem {
        height: 100%;
    }

    .activitiesList__activityItem.activity-1 {
        grid-row: 1/ 5;
        grid-column: 1/2;
    }

    .activity-1 .activityItem__cardImg {
        /* 417px height - heading of 44px - 16px for a heading with padding = 357*/
        height: 357px;
    }

    .activitiesList__activityItem.activity-2 {
        grid-row: 1/ 3;
        grid-column: 2/3;
    }

    .activity-2 .activityItem__cardImg {
        /* 230px height - heading of 44px - 16px for a heading with padding = 170*/
        height: 170px;
    }

    .activitiesList__activityItem.activity-3 {
        grid-row: 4/5;
        grid-column: 2/3;
    }

    .activity-3 .activityItem__cardImg {
        /* 155px height - heading of 44px - 16px for a heading with padding = 95*/
        /* +11px to adjust a different height from the other images */
        height: 106px;
    }

    .activitiesList__activityItem.activity-4 {
        grid-row: 1/ 5;
        grid-column: 3/4;
    }

    .activity-4 .activityItem__cardImg {
        /* 417px height - heading of 44px - 16px for a heading with padding = 357*/
        height: 357px;
    }

    .activitiesList__activityItem.activity-5 {
        grid-row: 1/ 2;
        grid-column: 4/5;
    }

    .activity-5 .activityItem__cardImg {
        /* 185px height - heading of 44px - 16px for a heading with padding = 125*/
        /* +11px to adjust a different height from the other images */
        height: 136px;
    }

    .activitiesList__activityItem.activity-6 {
        grid-row: 3/ 5;
        grid-column: 4/5;
    }

    .activity-6 .activityItem__cardImg {
        /* 200px height - heading of 44px - 16px for a heading with padding = 140 */
        height: 140px;
    }

    /* ================================ */
    /* ============ FOOTER ============ */

    footer .footer__widthWrapper {
        padding-inline: var(--widthWrapper);
    }
}

/* ========================================================================================== */

/* -****** 1250 px and above ******- */
@media (min-width: 78.125rem) {

    /* ============ RESULTS GRID ============ */

    .mainResultsGrid__wrapper {
        grid-template-columns: 1.9fr 1.1fr;
    }

    /* --- Results section --- */

    .resultsList__cards {
        display: grid;
        gap: var(--space-XS);
        /* fluid grid : min-width = 220px or 100% / max-width = 1fr */
        grid-template-columns:
            repeat(auto-fill,
                minmax(min(220px, 100%), 1fr));
    }

    /* --- Activities section --- */

    .activitiesSection__activitiesList {
        gap: var(--space-M);
        /* fluid grid : min-width = 265px or 100% / max-width = 1fr */
        grid-template-columns:
            repeat(auto-fill,
                minmax(min(265px, 100%), 1fr));
        grid-template-rows: 185px 32px 32px 155px;
        row-gap: 0;
    }
}

/* =========================================================================================== */

/* -****** 1350px and above ******- */
@media (min-width: 84.375rem) {

    /* ============ RESULTS GRID ============ */

    .mainResultsGrid__wrapper {
        grid-template-columns: 2fr 1fr;
    }

    h3.popularList__cardHeading {
        font-size: var(--font-normal);
    }

    .popularList__cardPrice {
        font-size: var(--font-small);
    }
}